body {
    box-sizing: border-box;
    margin: 0;
    background-color: #ececec;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#nav {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(12, 175, 240);
    text-align: center;
    color: white;
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

#nav ul {
    display: inline-flex;
    list-style-type: none;
}

#nav ul li {
    padding: 15px;
    padding-top: 0px;
}

#nav ul li:hover {
    cursor: pointer;
    font-weight: bolder;
    font-size: large;
    transition: 200ms;
}

#nav h1 {
    margin: 0;
    float: left;
}

#Content {
    text-align: center;
    margin-top: 200px;
}
a {
    text-decoration: none;
    color: white;
}